@model Test1FormModel

@{
    ViewBag.Title = "Home Page";
    var countries = from c in "Austria, Belgium, Britain, Bulgaria, Croatia, Cyprus, Czech-Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden".Split(',')
                    select new SelectListItem() { Text = c.Trim(), Value = c.Trim() };
    var genders = from c in "Man, Woman".Split(',')
                  select new SelectListItem() { Text = c.Trim(), Value = c.Trim() };
    var colors = from c in "Black, Brown, Red, Orange, Yellow, Green, Blue, Violet, Grey, White".Split(',')
                 select new SelectListItem() { Text = c.Trim(), Value = c.Trim() };
}

<a href="~/pdf-templates/test1.pdf" target="_blank">Check PDF template</a>
<hr />
<h2>Fill PDF fields</h2>
<form action="/Home/FillPdf" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.GivenName)
                @Html.TextBoxFor(m => m.GivenName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FamilyName)
                @Html.TextBoxFor(m => m.FamilyName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Address1)
                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Address2)
                @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.HouseNumber)
                @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Country)
                @Html.DropDownListFor(m => m.Country, countries, "-- Not Selected --", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Postcode)
                @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
            </div>
        </div>
    </div>        
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Gender)
                @Html.DropDownListFor(m => m.Gender, genders, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Height)
                @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.DrivingLicense) @Html.DisplayNameFor(m => m.DrivingLicense)
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Lang1) @Html.DisplayNameFor(m => m.Lang1)
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Lang2) @Html.DisplayNameFor(m => m.Lang2)
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Lang3) @Html.DisplayNameFor(m => m.Lang3)
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Lang4) @Html.DisplayNameFor(m => m.Lang4)
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Lang5) @Html.DisplayNameFor(m => m.Lang5)
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.FavColor)
                @Html.DropDownListFor(m => m.FavColor, colors, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <hr />
    <p>
        <button class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Submit</button>
    </p>
</form>
